.formTabPane {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.nav-tabs {
    border-bottom: none;
}

.tabs {
    text-align: center;
}

.nav.formSelect > li > a:hover, .nav.formSelect >li >a:focus {
    background-color: lightgrey !important;
    color: white !important;
}

.formSelect {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.formSelect > li > a {
    width: 180px !important;
    font-weight: bold;
}

.formHolder {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: -1px;
    padding-top: 15px;
}

.nav.formSelect > li {
    text-align: center;
    width: 50%;
}